@mixin _initial(
  $properties...,
) {
  @each $property in $properties {
    #{$property}: call(get-function('_initial'), $property);
  }
}

@function _initial(
  $property,
) {
  $initials: (
    'align-content': normal,
    'align-items': normal,
    'align-self': auto,
    'animation': none 0s ease 0s 1 normal none running,
    'animation-delay': 0s,
    'animation-direction': normal,
    'animation-duration': 0s,
    'animation-fill-mode': none,
    'animation-iteration-count': 1,
    'animation-name': none,
    'animation-play-state': running,
    'animation-timing-function': ease,
    'backface-visibility': visible,
    'background': transparent none repeat 0 0 / auto auto padding-box border-box scroll,
    'background-attachment': scroll,
    'background-blend-mode': normal,
    'background-clip': border-box,
    'background-color': transparent,
    'background-image': none,
    'background-origin': padding-box,
    'background-position': 0% 0%,
    'background-repeat': repeat,
    'background-size': auto auto,
    'block-size': auto,
    'border': medium none currentColor,
    'border-block': medium none currentColor,
    'border-block-color': currentColor,
    'border-block-end': medium none currentColor,
    'border-block-end-color': currentColor,
    'border-block-end-style': none,
    'border-block-end-width': medium,
    'border-block-start': medium none currentColor,
    'border-block-start-color': currentColor,
    'border-block-start-style': none,
    'border-block-start-width': medium,
    'border-block-style': none,
    'border-block-width': medium,
    'border-bottom': medium none currentColor,
    'border-bottom-color': currentColor,
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0,
    'border-bottom-style': none,
    'border-bottom-width': medium,
    'border-collapse': separate,
    'border-color': currentColor,
    'border-end-end-radius': 0,
    'border-end-start-radius': 0,
    'border-image': none 100% / 1 / 0 stretch,
    'border-image-outset': 0,
    'border-image-repeat': stretch,
    'border-image-slice': 100%,
    'border-image-source': none,
    'border-image-width': 1,
    'border-inline': medium none currentColor,
    'border-inline-color': currentColor,
    'border-inline-end': medium none currentColor,
    'border-inline-end-color': currentColor,
    'border-inline-end-style': none,
    'border-inline-end-width': medium,
    'border-inline-start': medium none currentColor,
    'border-inline-start-color': currentColor,
    'border-inline-start-style': none,
    'border-inline-start-width': medium,
    'border-inline-style': none,
    'border-inline-width': medium,
    'border-left': medium none currentColor,
    'border-left-color': currentColor,
    'border-left-style': none,
    'border-left-width': medium,
    'border-radius': 0,
    'border-right': medium none currentColor,
    'border-right-color': currentColor,
    'border-right-style': none,
    'border-right-width': medium,
    'border-spacing': 0,
    'border-start-end-radius': 0,
    'border-start-start-radius': 0,
    'border-style': none,
    'border-top': medium none currentColor,
    'border-top-color': currentColor,
    'border-top-left-radius': 0,
    'border-top-right-radius': 0,
    'border-top-style': none,
    'border-top-width': medium,
    'border-width': medium,
    'bottom': auto,
    'box-decoration-break': slice,
    'box-shadow': none,
    'box-sizing': content-box,
    'break-after': auto,
    'break-before': auto,
    'break-inside': auto,
    'caption-side': top,
    'caret-color': auto,
    'clear': none,
    'clip': auto,
    'clip-path': none,
    'color': null,
    'color-adjust': economy,
    'column-count': auto,
    'column-fill': balance,
    'column-gap': normal,
    'column-rule': medium none currentColor,
    'column-rule-color': currentColor,
    'column-rule-style': none,
    'column-rule-width': medium,
    'column-span': none,
    'column-width': auto,
    'columns': auto,
    'content': normal,
    'counter-increment': none,
    'counter-reset': none,
    'cursor': auto,
    'direction': ltr,
    'display': inline,
    'empty-cells': show,
    'filter': none,
    'flex': 0 1 auto,
    'flex-basis': auto,
    'flex-direction': row,
    'flex-flow': row nowrap,
    'flex-grow': 0,
    'flex-shrink': 1,
    'flex-wrap': nowrap,
    'float': none,
    'font': null,
    'font-family': null,
    'font-feature-settings': normal,
    'font-kerning': auto,
    'font-language-override': normal,
    'font-optical-sizing': auto,
    'font-size': medium,
    'font-size-adjust': none,
    'font-stretch': normal,
    'font-style': normal,
    'font-synthesis': weight style,
    'font-variant': normal,
    'font-variant-alternates': normal,
    'font-variant-caps': normal,
    'font-variant-east-asian': normal,
    'font-variant-ligatures': normal,
    'font-variant-numeric': normal,
    'font-variant-position': normal,
    'font-weight': normal,
    'gap': normal,
    'grid-area': auto,
    'grid-auto-columns': auto,
    'grid-auto-flow': row,
    'grid-auto-rows': auto,
    'grid-column': auto,
    'grid-column-end': auto,
    'grid-column-start': auto,
    'grid-gap': normal,
    'grid-row': auto,
    'grid-row-end': auto,
    'grid-row-start': auto,
    'grid-template': none,
    'grid-template-areas': none,
    'grid-template-columns': none,
    'grid-template-rows': none,
    'hanging-punctuation': none,
    'height': auto,
    'hyphens': manual,
    'image-orientation': 0deg,
    'image-rendering': auto,
    'inline-size': auto,
    'inset': auto,
    'inset-block': auto,
    'inset-block-end': auto,
    'inset-block-start': auto,
    'inset-inline': auto,
    'inset-inline-end': auto,
    'inset-inline-start': auto,
    'isolation': auto,
    'justify-content': normal,
    'justify-items': legacy,
    'justify-self': auto,
    'left': auto,
    'letter-spacing': normal,
    'line-break': auto,
    'line-height': normal,
    'list-style': disc none outside,
    'list-style-image': none,
    'list-style-position': outside,
    'list-style-type': disc,
    'margin': 0,
    'margin-block': 0,
    'margin-block-end': 0,
    'margin-block-start': 0,
    'margin-bottom': 0,
    'margin-inline': 0,
    'margin-inline-end': 0,
    'margin-inline-start': 0,
    'margin-left': 0,
    'margin-right': 0,
    'margin-top': 0,
    'mask': none center / auto no-repeat border-box add match-source,
    'mask-clip': border-box,
    'mask-composite': add,
    'mask-image': none,
    'mask-mode': match-source,
    'mask-origin': border-box,
    'mask-position': center,
    'mask-repeat': no-repeat,
    'mask-size': auto,
    'mask-type': luminance,
    'max-height': none,
    'max-width': none,
    'mix-blend-mode': normal,
    'object-fit': fill,
    'object-position': 50% 50%,
    'opacity': 1,
    'order': 0,
    'orphans': 2,
    'outline': medium none invert,
    'outline-color': invert,
    'outline-offset': 0,
    'outline-style': none,
    'outline-width': medium,
    'overflow': visible,
    'overflow-wrap': normal,
    'overflow-x': visible,
    'overflow-y': visible,
    'padding': 0,
    'padding-block': 0,
    'padding-block-end': 0,
    'padding-block-start': 0,
    'padding-bottom': 0,
    'padding-inline': 0,
    'padding-inline-end': 0,
    'padding-inline-start': 0,
    'padding-left': 0,
    'padding-right': 0,
    'padding-top': 0,
    'page-break-after': auto,
    'page-break-before': auto,
    'page-break-inside': auto,
    'perspective': none,
    'perspective-origin': 50% 50%,
    'place-content': normal,
    'place-items': normal legacy,
    'place-self': auto,
    'pointer-events': auto,
    'position': static,
    'quotes': null,
    'resize': none,
    'right': auto,
    'rotate': none,
    'row-gap': normal,
    'scale': none,
    'scroll-behavior': auto,
    'scroll-margin': 0,
    'scroll-margin-block': 0,
    'scroll-margin-block-end': 0,
    'scroll-margin-block-start': 0,
    'scroll-margin-bottom': 0,
    'scroll-margin-inline': 0,
    'scroll-margin-inline-end': 0,
    'scroll-margin-inline-start:': 0,
    'scroll-margin-left': 0,
    'scroll-margin-right': 0,
    'scroll-margin-top': 0,
    'scroll-padding': auto,
    'scroll-padding-block': auto,
    'scroll-padding-block-end': auto,
    'scroll-padding-block-start': auto,
    'scroll-padding-bottom': auto,
    'scroll-padding-inline': auto,
    'scroll-padding-inline-end': auto,
    'scroll-padding-inline-start': auto,
    'scroll-padding-left': auto,
    'scroll-padding-right': auto,
    'scroll-padding-top': auto,
    'scroll-snap-align': none,
    'scroll-snap-stop': normal,
    'scroll-snap-type': none,
    'scrollbar-color': auto,
    'scrollbar-width': auto,
    'shape-image-threshold': 0,
    'shape-margin': 0,
    'shape-outside': none,
    'tab-size': 8,
    'table-layout': auto,
    'text-align': left,
    'text-align-last': auto,
    'text-combine-upright': none,
    'text-decoration': none solid currentColor,
    'text-decoration-color': currentColor,
    'text-decoration-line': none,
    'text-decoration-style': solid,
    'text-emphasis': none currentcolor,
    'text-emphasis-color': currentColor,
    'text-emphasis-position': over right,
    'text-emphasis-style': none,
    'text-indent': 0,
    'text-justify': auto,
    'text-orientation': mixed,
    'text-overflow': clip,
    'text-rendering': auto,
    'text-shadow': none,
    'text-transform': none,
    'text-underline-position': auto,
    'top': auto,
    'touch-action': auto,
    'transform': none,
    'transform-box': border-box,
    'transform-origin': 50% 50% 0,
    'transform-style': flat,
    'transition': 0s ease 0s,
    'transition-delay': 0s,
    'transition-duration': 0s,
    'transition-property': all,
    'transition-timing-function': ease,
    'translate': none,
    'unicode-bidi': normal,
    'vertical-align': baseline,
    'visibility': visible,
    'white-space': normal,
    'widows': 2,
    'width': auto,
    'will-change': auto,
    'word-break': normal,
    'word-spacing': normal,
    'word-wrap': normal,
    'writing-mode': horizontal-tb,
    'z-index': auto,
  );

  @if map-has-key($initials, $property) {
    @return _map-get($initials, $property);
  } @else {
    @error 'The property `#{$property}` is not exists.';
  }
}