//
// Selector
//

$_media-mobile-first: true !default;
$_media-breakpoints: () !default;
$__media-threshold: .0011em !default;
$__media-types: (
  all,
  screen,
  print,
  speech,
  tty,
  tv,
  projection,
  handheld,
  braille,
  embossed,
  aural,
) !default;
$__media-min-max-features: (
  width,
  height,
  aspect-ratio,
  resolution,
  color,
  color-index,
  monochrome,
  device-width,
  device-height,
  device-aspect-ratio,
) !default;

//
// Layout
//

$_z-indexes: () !default;
$_z-index-reverse: false !default;

//
// Animation
//

$_transition: .3s !default;