.p-nav_list {
  .p-nav_list {
    height: 0;
    overflow: hidden;
    transition: height .2s ease-out;
    &._open {
      height: auto;
    }
  }
}
.p-nav_title {
  color: rgba(0, 0, 0, .7);
  font-size: _rem(14px);
  font-weight: bold;
  transition: background-color .11s ease-out;
  user-select: none;
  cursor: pointer;
  &._active {
    color: #3db57c;
    border-radius: _rem(4px);
    background-color: #fafafa;
    @include _media-up-than(991px) {
      background-color: #f1f1f1;
    }
  }
  @at-root {
    $nest: '.p-nav_item';

    @for $i from 1 through 5 {
      #{selector-nest($nest, &)} {
        padding: _em(6px 12px 6px 12px * $i, 15px);
      }

      $nest: selector-nest($nest, '.p-nav_item');
    }
  }
  &:hover {
    background-color: #fafafa;
    @include _media-up-than(991px) {
      background-color: #f1f1f1;
    }
  }
}
.p-nav_item {
  margin-top: _em(4px);
  a {
    display: block;
    padding: _em(6px 22px, 14px);
    color: rgba(0, 0, 0, .62);
    font-size: _em(14px);
    border-radius: _rem(4px);
    transition: background-color .11s ease-out;
    user-select: none;
    &:hover {
      background-color: #fafafa;
      @include _media-up-than(991px) {
        background-color: #f1f1f1;
      }
    }
    @at-root {
      $nest: '.p-nav_item';
  
      @for $i from 1 through 5 {
        #{selector-nest($nest, 'a')} {
          padding: _em(6px 11px 6px 11px * $i, 14px);
        }
  
        $nest: selector-nest($nest, '.p-nav_item');
      }
    }
  }
  &._active {
    background-color: #fafafa;
    pointer-events: none;
    @include _media-up-than(991px) {
      background-color: #f1f1f1;
    }
    a {
      color: #3db57c;
      font-weight: 500;
    }
  }
}