@mixin _truncate($line: 1, $line-height: null) {
  @if $line == 1 {
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }

  @if $line-height {
    max-height: $line-height * $line * 1em;
    line-height: $line-height;
  }

  overflow: hidden;
}