@function _list-replace($list, $index, $value) {
  $result: ();
  $index: if($index < 0, length($list) + $index + 1, $index);

  @for $i from 1 through length($list) {
    $result: append($result, if($i == $index, $value, nth($list, $i)));
  }

  @return $result;
}