@mixin _transition($transitions...) {
  @if length($transitions) == 0 {
    transition: $_transition;
  } @else {
    transition: $transitions;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}