@function _data-url($data...) {
  $result: ();
  $mimes: (
    gif: 'image/gif',
    png: 'image/png',
    jpg: 'image/jpeg',
    jpeg: 'image/jpeg',
    svg: 'image/svg+xml',
    webp: 'image/webp',
    eot: 'application/vnd.ms-fontobject',
    ttf: 'application/x-font-ttf',
    otf: 'application/x-font-otf',
    woff: 'application/font-woff',
    woff2: 'application/font-woff2',
    svgf: 'image/svg+xml',
  );

  @each $file in $data {
    $file: if(_is-list($file), _str-join($file, ''), $file);
    $encode: _base64-encode($file, true);
    $base64: _list-get($encode, 1);
    $extension: _list-get($encode, 2);
    $result: append($result, 'url(data:#{if($extension == '', 'image/svg+xml', _map-get($mimes, $extension))};base64,#{$base64})');
  }
  
  @return unquote(_str-join($result, ' '));
}