@function _list-slice($list, $start: 1, $end: length($list)) {
  $length: length($list);

  @if $length == 0 {
    @return $list;
  }

  @if $start < 0 {
    $start: if($length < -$start, 0, $length + $start + 1);
  }

  $end: if($length < $end, $length, $end);

  @if $end < 0 {
    $end: $length + $end + 1;
  }

  $result: ();

  @for $i from $start through $end {
    $result: append($result, nth($list, $i));
  }

  @return $result;
}