.l-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 _rem(55px);
  @include _fluid(padding-left, 320px 15px, 1280px 40px);
  @include _fluid(padding-right, 320px 15px, 1280px 40px);
  border-bottom: 1px solid #e8e8e8;
  @include _media-up-than(991px) {
    display: none;
  }
}
.l-header_logo {
  a {
    display: block;
    padding: .4em .2em;
  }
  svg {
    display: block;
    height: _rem(13px);
  }
}
.l-header_button {
  border: 0;
  background-color: transparent;
  svg {
    width: _rem(24px);
    height: _rem(24px);
    overflow: auto;
  }
}