.l-sidebar {
  line-height: 1.3;
  @include _media-down(991px) {
    height: 0;
    @include _fluid(margin-left, 320px -15px, 1280px -40px);
    @include _fluid(margin-right, 320px -15px, 1280px -40px);
    overflow: hidden;
    transition: height .35s;
  }
  @include _media-up-than(991px) {
    width: _rem(210px);
  }
}
.l-sidebar_inner {
  top: auto !important;
  left: auto !important;
  padding: _rem(38px 24px 38px 0);
  @include _media-down(991px) {
    @include _fluid(padding-left, 320px 15px, 1280px 40px);
    @include _fluid(padding-right, 320px 15px, 1280px 40px);
    padding-top: .95em;
    padding-bottom: 1.2em;
    border-bottom: 1px solid #eaeaea;
  }
}