@mixin _aspect-ratio($width, $height, $selector: null, $fit: false) {
  position: if(not $fit or $selector and $fit, relative, null);
  &::before {
    @if $fit {
      float: left;
    } @else {
      display: block;
    }

    padding-top: percentage($height / $width);
    content: '';
  }

  @if $fit {
    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }

  @if $selector {
    #{$selector} {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}